

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dream Home</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->    
    <link rel="stylesheet" href="file:///C|/Users/s_mit/Desktop/civil_link ff/html/style.css">
    <link rel="stylesheet" href="file:///C|/Users/s_mit/Desktop/civil_link ff/html/iconic.css">
    <style type="text/css">
    @import url("../../../../../web/bundles/lsimarket/css/style c.css");
    @import url("../../../../../web/bundles/lsimarket/css/iconic c.css");
    </style>
    <script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/vendor/modernizr.js"></script>   
   <!--[if lt IE 10 ]>
     <style type="text/css">
    .navigation-mobile{
  display: none;
}
</style>
<![endif]-->      
  </head>
  <body class="page-template-agents-details">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


</div>
<div class="wrap">
<!-- Header  --><!-- Header // -->
<!-- Page layout -->
<section class="content-section background">
  <div class="container">
<div class="title-row heading">
  <div class="col-md-12">
    <h1>aide</h1>
  </div>
  </div>
    <div class="row-float contents pad-top-large">
 <div class="info-box-1">
   <h5><span>VOUS PREFEREZ NOUS APPELEZ ?</span></h5>
   <p><span class="large-text-1"><span class="iconic-phone-square"></span>900 123 3456 </span>&nbsp;</p>
        </div>

<div class="tag-box tag-box-v3">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h2><a href="#">Comment se connecter ?</a></h2>
  <p>dapibus arcu sit amet, tincidunt erat. Donec vitae turpis a ante viverra laoreet in id diam. Suspendisse sit amet ipsum luctus quam iaculis tempus ut ut nunc. Sed non lacus fringilla, lacinia tortor ac, posuere lectus. Proin ipsum metus, sagittis sed leo at, pretium mattis purus.</p>
</div>

<div class="row">
  <div class="col-md-6">
  <div class="tag-box tag-box-v2">
    <h2><a href="#">Comment ouvrir un compte administré ?</a></h2>
    <p>Fusce eu molestie orci. Nulla efficitur condimentum tempus. Donec mattis diam a nibh rutrum, eu efficitur sapien blandit. Pellentesque ut lacus ut nibh pharetra consectetur.</p>
    </div>
  </div>
  <div class="col-md-6">    
    <div class="tag-box tag-box-v3">
      <h2><a href="#">Qui peut ouvrir un compte mairie ?</a></h2>
      <p> Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
    </div>
  </div>
</div>

<div class="tag-box tag-box-v4">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h2><a href="#">Comment Creer une annonce ?</a></h2>
  <p>Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="tag-box tag-box-v6">
      <h2><a href="#">Comment faire une reservation sur une annonce ?</a></h2>
      <p>Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
    </div>

  </div>
  <div class="col-md-6">

    <div class="tag-box tag-box-v7">
      <h2><a href="#">Qui peut faire une annonce ?</a></h2>
      <p>Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
    </div>

  </div>
</div>

<div class="tag-box tag-box-v4">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h2><a href="#">En cas de problême qui contacter ?</a></h2>
  <p>Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="tag-box tag-box-v6">
      <h2><a href="#">A propos de mon budget ?</a></h2>
      <p>Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
    </div>

  </div>
  <div class="col-md-6">

    <div class="tag-box tag-box-v7">
      <h2><a href="#">Annuler une commande ?</a></h2>
      <p>Sed blandit sollicitudin elementum. Maecenas consectetur sed enim quis vestibulum. Nulla consequat libero quis dui rhoncus imperdiet. In egestas nisl in lectus tristique, in convallis arcu congue. Sed lacinia eros vitae nibh commodo auctor.</p>
    </div>

  </div>
</div>
<div class="row tag-box tag-box-v5">
  <div class="col-md-8"><span>Telechargez notre document sur les CGU</span></div>
  <div class="col-md-4">
    <p><button class="btn btn-danger"><i class="iconic iconic-cloud-download4"></i> Telechargez</button></p>
  </div>
</div>
    </div>
  </div>
</section>
<!-- Page layout // -->

<!-- Footer --><!-- Footer // -->  
<!-- Footer 2 --></div>

    <script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/vendor/vendor.js"></script>           
    <script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/main.js"></script>
    
</body>

