
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contact</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->    
    <link rel="stylesheet" href="file:///C|/Users/s_mit/Desktop/civil_link ff/html/style.css">
    <link rel="stylesheet" href="file:///C|/Users/s_mit/Desktop/civil_link ff/html/iconic.css">
    <style type="text/css">
    @import url("../../../../../web/bundles/lsimarket/css/style c.css");
    @import url("../../../../../web/bundles/lsimarket/css/iconic c.css");
    @import url("../../../../../web/bundles/lsimarket/css/style.css");
    </style>
    <script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/vendor/modernizr.js"></script>   
   <!--[if lt IE 10 ]>
     <style type="text/css">
    .navigation-mobile{
  display: none;
}
</style>
<![endif]-->      
  </head>
  <body class="page-template-agents-details">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<!-- Header  -->

<!-- Header // -->
<!-- Page layout -->
<section class="content-section">
  <div class="container">
<div class="title-row heading">
  <div class="col-md-12">
        <section class="content-section"> 
	<div class="container">
<div class="wrap">
  <!-- Header  --><!-- Header // -->
  <!-- Page layout -->
  <section class="content-section">
  <div class="container"> <!-- Properties  Details -->     <!-- Properties  Details -->
     <!-- Properties description -->     <!-- Properties description // -->
    <!-- Contact To Agent -->
    <div class="title-row heading pad-top-large">
      <div class="col-md-8" id="titre_head">
        <h2 id="titre 1">DISCUTER DIRECTEMENT AVEC UN AGENT</h2>
        <p>en ligne &nbsp;enfin de vous guider pas a pas</p>
      </div>
    </div>
    <div class="row pad-top-small layout-flex">
      <div class="col-md-4">
        <div class="content-box-2">
          <figure class="image-box">
            <img src="../../../../../web/bundles/lsimarket/images/habilitation/9675018730_f3ab9ab065_b.jpg" height="683" width="1024" alt="">
          </figure>
          <div class="contents">
            <h3 class="heading-style-1">Jhon Doe</h3>
            <p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly. </p>
            <p class="text-right"><a href="#" class="btn btn-large btn-primary">Joindre</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="content-box-2 agents-contact">
          <div class="heading">
            <h5>Contact jhone doe</h5>
          </div>
          <form class="form-content pad-top-small" data-parsley-validate>
            <div class="row">
              <div class="col-md-6 form-group-1">
                <input type="text" class="form-control input-lg" placeholder="Nom" required data-parsley-required-message="Please insert your name" name="name">
              </div>
              <div class="col-md-6 form-group-1">
                <input type="text" class="form-control input-lg" placeholder="E-mail " required data-parsley-required-message="Please insert your Email" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group-1">
                <input type="text" class="form-control input-lg" placeholder="Contact" required data-parsley-required-message="Please insert your contact no" data-parsley-min="10" name="contact">
              </div>
              <div class="col-md-6 form-group-1">
                <input type="text" class="form-control input-lg" placeholder="Votre ville" required name="location">
              </div>
            </div>
            <div class="row">
              <div class="form-group-1 col-md-12">
                <textarea class="form-control" placeholder="Entrer votre question" rows="3"  required data-parsley-minlength="20" data-parsley-minlength-message = "Come on! You need to enter at least a 20 character comment.."  data-parsley-validation-threshold="10" data-parsley-maxlength="100" name="message"></textarea>
              </div>
            </div>
            <div class="row pad-top-small">
              <div class="col-md-12">
                <button class="btn btn-primary btn-large pull-right">Soumetre</button>
              </div>
              <div class="text-success col-xs-12 hidden form-messges text-center">
              <p>We will responce as soon as possible.</p>
            </div>
            </div>

          </form>
          <div class="info-box-1">
            <h5><span>OU APPELEZ NOUS DIRECTEMENT</span></h5>
            <p><span class="large-text-1"><span class="iconic-phone-square"></span>900 123 3456 </span>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>   
    <!-- Contact To Agent // -->
    
  </div>
</section>
  <p>VOUS AVEZ DES SUGGESTIONS, DES RECOMMANDATIONS OU TOUT AUTRES </p>
  <p>PREOCUPATIONS. </p>
  <div class="row-float contents pad-top-large">
<div><div class="comment-respond">
  <h4>LAISSER NOUS UN MOT</h4>
  <p>et nos conseillers vous recontacterons pour traiter votre démande</p>
  <p>
  </p><form>
		
      

   <div class="row">
                     <div class="col-xs-6">
                       <div class="form-group">
                         <input type="text" class="form-control input-lg" placeholder="Nom">
                       </div>
                     </div>
                     <div class="col-xs-6">
                       <div class="form-group">
                         <input type="text" class="form-control input-lg" placeholder="Votre mail">
                       </div>
              </div>
                     <div class="col-xs-12">
                       <div class="form-group">
                         <textarea placeholder="Ecrire un commentaire" class="form-control" rows="3"></textarea>
                       </div>
                     </div>
                     <div class="col-xs-12">
                     <div class="form-group">
                       <button class="btn btn-primary btn-large pull-right" type="submit">VALIDER</button>
                      </div>
                     </div>
            </div>
          </form>
	</div>
  </section>      
      </div>
    </div>
</div>
</section>
		
<!-- Page layout // -->

<!-- Footer --><!-- Footer // -->  
<!-- Footer 2 --> <script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/vendor/vendor.js"></script>           
<script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/main.js"></script>
    
</span></span></div></div></div></div></body>

