

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marché_publics</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="iconic.css">
    <style type="text/css">
    @import url("../Mystyle/Style.css");
    </style>
    <script src="js/vendor/modernizr.js"></script>   
   <!--[if lt IE 10 ]>
     <style type="text/css">
    .navigation-mobile{
  display: none;
}
</style>
<![endif]-->      
  </head>
  <body class="page-template-agents-details">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="wrap">
<!-- Header  -->

  
<!-- Header // -->
<!-- Page layout -->

        <section class="content-section"> 
	<div class="container">
		<div class="title-row heading">
  <div class="col-md-12">
    <h1> &nbsp; RESPECT DES MARCHES PUBLICS</h1>
  </div>
  </div>
<div class="row-float contents pad-top-large">
  <div class="col-md-6">
	  <p>Un modèle juridique et contractuel  adossé au code des marchés publics ; <br>
	    des procédures simples et sécurisées  juridiquement. Un rôle d’accompagnement, de modération et d’alerte  sur l’atteinte des seuils critiques.</p>
	  <p>Nous vous accompagnons dans le cadre de votre démarche d’adhésion au service (process d’engagement normé, pré-rédaction de contrats, suivi des validations nécessaires, rôle d’alerte,…) - Puis au cours des étapes de gestion de vos mises à disposition.</p>
	  <p>Construit avec le concours d’avocats experts en domanialité publique, droit des marchés publics, droit de la concurrence ; le modèle CIVILINC est une solution sécurisée et responsable, spécialement dans sa dimension juridique et réglementaire. Adossée au code des marchés publics, notre démarche assure une conformité rigoureuse de l’ensemble du processus d’engagement et de formalisme des échanges. </p>
	</div>
		
	<div class="col-md-6">
	  <p> Toutes les opérations de mise à disposition font l’objet de traitements automatisés permettant de garantir à nos partenaires le respect des obligations de droit dans un schéma contractuel clair et opérationnel.</p>
	  <p>Nous assurons par ailleurs un rôle de conseil, d’accompagnement, de modération et d’alerte dans toute la dimension juridique et contractuelle de l’expérience CIVILINC.
	    
	    Ainsi, nos partenaires sont accompagnés par un interlocuteur unique et dédié depuis la démarche d’engagement de dépense jusqu’à l’édition des contrats finaux de mise à disposition. Le compte utilisateur permet par ailleurs de suivre au jour le jour l’ensemble des engagements pris et reçus, de stocker les documents nécessaires et de garantir de manière dynamique la conformité stricte du modèle.
	    
	    En savoir plus sur les règles de droit des marchés publics <a href="#">(cliquer sur le lien)</a> Télécharger la procédure simplifiée d’engagement dans ma mairie <br>
	    (<a href="#">cliquer sur le lien</a>).</p>
	</div>
	  </div>
    </div>
    </div>
	</div>
  </section>      
     
    
  

<!-- Page layout // -->

<!-- Footer --><!-- Footer // -->  
<!-- Footer 2 -->
</span></div>

    <script src="js/vendor/vendor.js"></script>           
    <script src="js/main.js"></script>
    
</span></body>

