
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>qui_sommes_nous</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->    
    <link rel="stylesheet" href="file:///C|/Users/s_mit/Desktop/civil_link ff/html/style.css">
    <link rel="stylesheet" href="file:///C|/Users/s_mit/Desktop/civil_link ff/html/iconic.css">
    <style type="text/css">
    @import url("file:///C|/Users/s_mit/Desktop/civil_link ff/Mystyle/Style.css");
    @import url("../../../../../web/bundles/lsimarket/css/style qsn.css");
    </style>
    <script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/vendor/modernizr.js"></script>   
   <!--[if lt IE 10 ]>
     <style type="text/css">
    .navigation-mobile{
  display: none;
}
</style>
<![endif]-->      
  </head>
  <body class="page-template-agents-details">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
{% block body %}
<div class="wrap">
<!-- Header  -->
<header class="main-header">
  
  

</header>
	
<!-- Header // -->
<!-- Page layout -->
<section class="content-section">
	 <div class="container">
    <div class="title-row heading">
      <h1> &nbsp;QUI SOMMES NOUS ?</h1>
    </div>
    <!-- Agents description -->
    <div class="content-panel agent-descriptions">
    <div class="agent-image image-block align-left">
      <img src="../../../../../web/bundles/lsimarket/images/14365668676_082f54ecb4_b.jpg" height="225" width="208" alt="">
    </div>
      <div class="agent-bio">
        <h2 class="content-panel-heading">Civil link</h2>
        <div class="contents">
          <p class="large-text-1">Est un concept français né en 2018, partant de l’idée simple de créer un mode de collaboration innovant au service de l’action publique, dans un contexte de restriction des financements à destination des mairies et des collectivités. Notre démarche : &nbsp;Proposer une plateforme de mutualisation ponctuelle de biens et services entre personnes publiques, dans un schéma collaboratif horizontal, local et durable -Permettre d’accéder à une offre globale de services libres d’accès (intégrant couverture assurantielle, planning, validation, facturation, aide à la contractualisation,…) &nbsp;Mettre à disposition un outil simple d’utilisation, dynamique et innovant. </p>
          
		
      </div>
      </div>
    </div>
     <!-- Agents description // -->
    <!-- Agents Portfolio -->
    <div class="content-panel agents-portfolio">
      <h2 class="content-panel-heading">UNE EQUIPE DE PROS</h2>
      <p>VOUS ACCOMPAGNE DANS TOUS VOS PROJETS JUSQU'A LA REALISATION</p>
      <div class="project-list">        
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/14202195290_4ac1d5a92b_b.jpg" height="205" width="262">
          <span class="meta-list3">
            <span class="title">LISA MARIA</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/9325995752_e4b4d0044a_b.jpg" height="205" width="262">
          <span class="meta-list3">
            <span class="title">JONATHAN LORAIN</span>
             <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/8203794182_8004f8f636_b.jpg" height="205" width="262">
          <span class="meta-list3">
            <span class="title">MICK CHRITIAN</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/9675018730_f3ab9ab065_b.jpg" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
             <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/8203794182_8004f8f636_b.jpg" height="205" width="262" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/9675018730_f3ab9ab065_b.jpg" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
             <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/9325995752_e4b4d0044a_b.jpg" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="../../../../../web/bundles/lsimarket/images/habilitation/14202195290_4ac1d5a92b_b.jpg" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Agents Portfolio // -->
    <!-- Agents Contact Form -->
    <div class="content-panel agents-contact">
      <h2 class="content-panel-heading">NOUS CONTACTER</h2>
		<div><p> Vous avez des suggestions, une récommandation ou une préocupation?<br>
			Laissez nous un mot, notre conseiller client se chagerera de vous repondre.</p></div>
      <form class="row" data-parsley-validate>
        <div class="col-md-3 form-group">
          <input type="text" class="form-control input-lg" placeholder="Nom" required data-parsley-required-message="Please insert your name" name="name">
        </div>
        <div class="col-md-3 form-group">
          <input type="email" class="form-control input-lg" placeholder="E-mail ID" required data-parsley-required-message="Votre Mail" name="email">
        </div>
        <div class="col-md-3 form-group">
          <input type="text" class="form-control input-lg" placeholder="Contact" required data-parsley-required-message="Contact" data-parsley-min="10" name="contact">
        </div>
        <div class="col-md-3 form-group">
          <input type="text" class="form-control input-lg" placeholder="Ville" required name="location">
        </div>
        <div class="col-md-12">
          <div class="form-group">
          <textarea class="form-control" rows="4" placeholder="Entrer votre question" required data-parsley-minlength="20" data-parsley-minlength-message = "Come on! You need to enter at least a 20 character comment.."  data-parsley-validation-threshold="10" data-parsley-maxlength="100" name="message"></textarea>
          </div>
          <div class="form-group text-right">
          <button class="btn btn-primary">Soumettre</button>
        </div>
        </div>
        <div class="text-success text-center col-xs-12 hidden form-messges">
          <p>We will responce as soon as possible.</p>
        </div>
        
      </form>
    
    </div>
    
    <!-- Agents Contact Form // -->
  </div>
</section>
		
<!-- Page layout // -->

<!-- Footer --><!-- Footer // -->  
<!-- Footer 2 --></span></div>

<script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/vendor/vendor.js"></script>           
<script src="file:///C|/Users/s_mit/Desktop/civil_link ff/html/js/main.js"></script>
    
</span></span></body>

{% endblock %}