<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>une_solution_complete</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="iconic.css">
    <style type="text/css">
    @import url("../Mystyle/Style.css");
    </style>
    <script src="js/vendor/modernizr.js"></script>   
   <!--[if lt IE 10 ]>
     <style type="text/css">
    .navigation-mobile{
  display: none;
}
</style>
<![endif]-->      
  </head>
  <body class="page-template-agents-details">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


   
  
<!-- Header // -->
<!-- Page layout -->
<section class="content-section">
	<div class="container">
<div class="title-row heading">    
  
    <h1> VOUS AVEZ UN PROJET ? &nbsp;<br> <span class="name-h1">CIVIL LINK</span> VOUS OFFRE UNE GAMME COMPLETE DE SOLUTION .</h1>
    <div class="col-md-4"> 
    
       <p id="paragraph1">Que recherchez vous?</p>
		</div>
  </div>
	<div>
	  <p id="paragraph2"><strong>La couverture assurantielle, la mise à jour des plannings, la contractualisation et la facturation Vous fournir un moyen de partage, libre d’accès et sans coûts fixes. Vous mettre à disposition un outil simple d’utilisation, dynamique et innovant. &nbsp;Dans un schéma collaboratif horizontal, local et durable. &nbsp;Vous donner accès à une offre complète de services intégrant la gestion des mises à disposition.</strong></p>
		
		
	</div>
	  
	  
    <!-- Page layout -->
    <div class="page-layout two-column">
    <!-- Main  -->
    <main id="main" class="main">
     <div class="articles-masonory">
      <article class="grid-box wow fadeInUp2" data-wow-delay="500ms" >
        <h3>
          <a href="#">
          <figure style="background-image: url(../img/un-produit.jpg)">
            <img src="../../../../../../web/bundles/lsimarket/images/un-produit.jpg"  alt="">
          </figure>
          </a><div class="data"><h2>
            <a href="#"></a><a href="blog-details.html">INSTAGRAM PHOTOS
              IN MY BEDROOM + $100 GIVEAWAY</a></h2>
          </div>
          </a>        </h3>
</article>
      <article class="grid-box wow fadeInUp2"data-wow-delay="600ms" >
        <a href="#">
        <figure style="background-image: url(../img/un-partenaire.jpg)">
          <img src="../img/un-partenaire.jpg"  alt="">
        </figure>
        </a>
        <div class="data">
          <h2><a href="blog-details.html">INSTAGRAM PHOTOS
          IN MY BEDROOM + $100 GIVEAWAY</a></h2>
      </div>
      </article>
      <article class=" grid-box wow fadeInUp2" data-wow-delay="700ms">
        <a href="#">
        <figure style="background-image: url(../img/devis.jpg)">
          <img src="../img/devis.jpg"  alt="">
        </figure>
        </a>
        <div class="data">
          <h2><a href="blog-details.html">INSTAGRAM PHOTOS
          IN MY BEDROOM + $100 GIVEAWAY</a></h2>
      </div>
      </article>
      <article class="grid-box wow fadeInUp2" data-wow-delay="800ms">
        <a href="#">
        <figure style="background-image: url(../img/Creer-une-annonce.jpg)">
          <img src="../img/Creer-une-annonce.jpg"  alt="">
        </figure>
        </a>
        <div class="data">
          <h2><a href="blog-details.html">INSTAGRAM PHOTOS
          IN MY BEDROOM + $100 GIVEAWAY</a></h2>
      </div>
      </article>
      <article class="grid-box wow fadeInUp2" data-wow-delay="900ms">
        <a href="#">
        <figure style="background-image: url(../img/rejoignez-nous.jpg)">
          <img src="../img/rejoignez-nous.jpg">
        </figure>
        </a>
        <div class="data">
          <h2><a href="blog-details.html">INSTAGRAM PHOTOS
          IN MY BEDROOM + $100 GIVEAWAY</a></h2>
      </div>
      </article>
<article class="grid-box wow fadeInUp2" data-wow-delay="1000ms">
  <a href="#">
    <figure style="background-image: url(../img/un-produit.jpg)">
          <img src="../img/un-produit.jpg"  alt="">
        </figure>
        </a>
        <div class="data">
          <h2><a href="blog-details.html">INSTAGRAM PHOTOS
          IN MY BEDROOM + $100 GIVEAWAY</a></h2>
      </div>
  </article>
</div> 
		
    </main>
    <!-- Main //  -->
    <!-- Sidebar  -->
    <aside class="sidebar" id="sidebar"> 
      <!-- Widget Recent Post -->   
      <div class="widget recent-post">
        <h4 class="widget-title">Ce qu'ils disent de nous !</h4>
        <ul>
          <li>
            <img src="../img/user-2.jpg" height="84" width="68" alt="">
            <h5>Required skills
            / Criteria</h5>
            <p>There are many variations of passages of </p>
          </li>
          <li>
     <img src="../img/user-1.jpg" height="84" width="68" alt="">
            <h5>Required skills
            / Criteria</h5>
            <p>There are many variations of passages of </p>
          </li>
          <li>
            <img src="../img/user-4.jpg" height="84" width="68" alt="">
            <h5>Required skills
            / Criteria</h5>
            <p>There are many variations of passages of </p>
          </li>
        </ul>
      </div>
      <!-- Widget Recent Post // -->  
      <!-- Widget Calendar -->      <!-- Widget Calendar // --> 
      <!-- Featured Works -->      <!-- Featured Works // --> 
    <!-- Newsletter  --> 
     <div class="widget widget-newsletter">
       <h4>SOUCRIVEZ-A NOTRE NEW LETTER</h4>
       <div class="form-content newsletter-sidebar">
       <form data-parsley-validate>
        <div class="form-group">
          <input type="text" placeholder="Nom" name="name" class="form-control input-lg" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email ID" name="email" class="form-control input-lg" required>
        </div>
        <div class="form-group">
          <button class="pull-right btn btn-primary">Submit</button>
        </div>
        <div class="form-messges hidden">         
        </div>
      </form>       
      </div>
     </div>
     <!-- Newsletter // -->          

    </aside>
    <!-- Sidebar //  -->
    </div>
    <!-- Page layout //  -->
    
  </div>
  </section>
    <div class="row-float contents pad-top-large">
      
    </div>
  </div>
</section>
		
<!-- Page layout // -->

<!-- Footer -->

<script src="js/vendor/vendor.js"></script>           
<script src="js/main.js"></script>
    
</span></span></body>

